@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* bg: FAFAFA */
/* text main: #0F0F0F  */
/* text secondary #616161 */
/* border/card: #FFFFFF */
/* border/card secondary: #FAFAFA */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background-color: #fafafa;
	color: #0f0f0f;
}
.main__title {
	margin-top: 120px;
	font-size: 52px;
	text-align: center;
}
.main__title span {
	color: #616161;
}
.filter__todo {
	font-size: 16px;
	margin-left: 15px;
	padding: 12px 5px;
	margin-top: 2px;
	color: #616161;
	border: 1px solid #0f0f0f;
	background-color: #f0f0f0;
	border-radius: 8px;
	cursor: pointer;
}
.clear-btn {
	margin-left: 10px;
	font-size: 14px;
	padding: 5px 5px;
	color: #ffffff;
	background-color: #0f0f0f;
	border-radius: 9px;
	border: none;
	cursor: pointer;
	right: 492px;
	margin-top: 6px;
	transition: all 0.3s ease-in-out;
}
.clear-btn:hover {
	background-color: #616161;
	color: #fafafa;
}

.add {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
}
.add__input {
	width: 500px;
	font-size: 16px;
	padding: 12px 10px;
	border-radius: 9px;
	border: 1px solid #616161;
	transition: all 0.3s ease-in;
	outline: none;
	background-color: #ffffff;
}
.add__input::placeholder {
	color: #b7b7b7;
}
.add__input:focus {
	border: 1px solid #1e90ff;
}
.add__btn {
	position: absolute;
	margin-left: 10px;
	font-size: 0px;
	padding: 5px 5px;
	color: #ffffff;
	background-color: #0f0f0f;
	border-radius: 9px;
	border: none;
	cursor: pointer;
	right: 520px;
	margin-top: 6px;
	transition: all 0.3s ease-in-out;
}
.add__btn:hover {
	background-color: #616161;
	color: #fafafa;
}
.list {
	margin-top: 100px;
	max-width: 300px;
	margin-left: 500px;
}
.todo-list {
	display: flex;
	flex-direction: column;
}
.todo-item {
	border: 1px solid #616161;
	border-radius: 7px;
	padding: 4px 10px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 15px;
	transition: all 0.4s ease-in-out;
	background-color: #ffffff;
	position: relative;
}
.todo-change {
	background-color: transparent;
	border: none;
	margin-top: 3px;
	position: absolute;
	cursor: pointer;
	left: -35px;
}
.todo-item-box {
	display: flex;
	align-items: center;
}
.todo__item-text {
	padding-left: 10px;
}
.todo__item-text.completed {
	text-decoration: line-through;
	color: #616161;
}
.todo__item-del {
	padding-top: 4px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.todo__item-del:hover {
	color: #616161;
}
.item-checkbox {
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.todos-number {
	text-align: center;
	margin-right: 110px;
	font-weight: 400;
	font-size: 15px;
	margin-top: 20px;
}
.error-text {
	color: red;
	margin-top: 15px;
	margin-left: 338px;
}
.change {
	margin-left: 7px;
	font-size: 14px;
	border: none;
	border-bottom: 1px solid #0f0f0f;
	outline: none;
	background-color: transparent;
}
